.add-todo-form {
  display: flex;
  gap: 10px;
}

.add-todo {
  background: transparent;
  color: rgb(98, 98, 166);
  border: 2px solid lightblue;
  border-radius: 0px 10px 10px 0px;
}

.input {
    border-radius: 10px 0 0 10px;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border: 2px solid lightblue;
    box-sizing: border-box;
}